<app-modal modalID="my-modal">
  <ng-container modal-title>Hello from my modal</ng-container>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aperiam
    doloremque nam natus! Cumque quae eligendi aut minima animi sint saepe
    quibusdam ullam harum amet rem ipsum libero vel eum at, cupiditate
    assumenda, rerum veritatis officiis neque dolores? Quam, soluta aliquam,
    itaque reiciendis rerum, sequi commodi possimus pariatur dolore ducimus fuga
    ipsum exercitationem repellat. Repellendus, nulla error? Nemo vitae
    temporibus quae recusandae ipsa quidem adipisci cupiditate labore facere,
    molestiae et nostrum soluta commodi a excepturi dolor illum aut doloremque
    atque molestias? Quam velit inventore eaque mollitia repellendus. Corrupti
    reprehenderit libero blanditiis quos! Iure officiis, sapiente provident
    error impedit odit ab quibusdam blanditiis atque at quis aut cum eius animi
    corporis natus! Voluptate sed molestiae minima quidem autem inventore
    officiis optio velit facere, vitae tenetur eligendi laudantium officia
    nesciunt accusantium eveniet dolore fugit laboriosam consectetur veniam
    perferendis atque aspernatur. Iste nemo fugiat similique facilis ea ab qui,
    sed velit quia! Nesciunt, neque. Nesciunt expedita commodi ipsum iure. Quis
    expedita ipsam harum in vero? Eligendi ea corrupti commodi. Obcaecati,
    reiciendis aut? Repellat quisquam perspiciatis, officiis, in magni debitis
    quia explicabo temporibus animi repellendus tenetur quam ipsam eos
    cupiditate incidunt inventore nihil libero nostrum mollitia quidem hic.
    Ipsam eos pariatur placeat cupiditate repellendus.
  </p>
  <ng-container modal-actions>
    <button type="button" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-info">edit</button>
    <button type="button" class="btn btn-danger">delete</button>
  </ng-container>
</app-modal>
